.header{
    display: flex;
}

.header__left{
    display: flex;
}



.header__left > img {
    object-fit: contain;
    height: 40px;
    margin-right: 10px;
}

.header__search{
    display: flex;
    padding: 10px;
    align-items: center;
    color: grey;
    height: 24px;
    border-radius: 5px;
    background-color: rgba(221, 219, 219, 0.466);

}

.header__search > input{
    border: none;
    outline: none;
    background: none;
   
}